In [3]:
import pandas as pd

In [12]:
# main datatypes:
# series = 1-dimensional
series = pd.Series(["BMW", "Toyota", "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [14]:
colours = pd.Series(["Red", "Green", "Blue"])
colours

0      Red
1    Green
2     Blue
dtype: object

In [16]:
# dataFrame = 2-dimesional
car_data = pd.DataFrame({"Car Make": series, "Colour": colours})
car_data

  Car Make Colour
0      BMW    Red
1   Toyota  Green
2    Honda   Blue